{{!-- {{#each this}}
    <div class="card-img">
        <img src="{{ movie.image_url }}" class="card-img-top" alt="{{ movie.title }}">
    </div> 
    <div class="card-body">

        <p class="card-title">{{ movie.title }}</p>
        <p class="card-text">{{ movie.genres.join(',') }} | {{ movie.release_year }}</p>

    </div>
</div>
{{/each}} --}}


{{!-- 
movie.image_url - URL-адреса зображення фільму
movie.title - назва фільму
movie.description - опис фільму
movie.genres - масив жанрів фільму
movie.release_year - рік випуску фільму
Якщо змінні у даних фільму мають інші назви, то їх можна замінити в шаблоні на відповідні назви. --}}

