{{#each mk}}
<li class='card-item' data-action='{{id}}'>
  <div class='card-img'>
    <img
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      class='card-img-top'
      alt='{{original_title}}'
    />
  </div>
  <div class='card-body'>
    <p class='card-title'>{{original_title}}</p>
    <p class='card-text'>{{currentGanre}} | {{date}}</p>
  </div>
</li>
{{/each}}