{{#each articleStore }}
    <img src="{{poster_path}}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text" class="text-muted">{{genre_ids}}</class=></p>
        <p class="card-text" class="text-muted">{{release_date}}</class=></p>
    </div>
</div>
{{/each}}